<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Web Page</title>
    <link rel="stylesheet" href="../static/styles.css">
</html>
<body>
    <h1>Welcome to My Web Page</h1>
    <p>This is a sample paragraph to demonstrate the linked CSS file.</p>
    <div class="register">
        <h2>Register</h2>
        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="pass1">Password:</label>
            <input type="password" id="pass1" name="pass1" required>
            <br>
            <label for="pass2">Confirm password:</label>
            <input type="password" id="pass2" name="pass2" required>
            <br>
            <input type="submit" id="submit" value="Submit">
        </form>
    </div>
    <button>Click Me!</button>

    <h3>Output:</h3>
    <div id="output"></div>

    <script src="../static/script.js"></script>
</body>
</html>